.text-blue {
    color: #45dbfd;
}

.event-image-container {
    position: relative;
    display: inline-block;
}

.hover-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.event-image-container:hover .hover-image {
    display: block;
}

.card-container-imagia {
    height: 420px;
}

.card-container-imagia .front-imagia,
.card-container-imagia .back-imagia {
    height: 420px;
}

.card-imagia .content-imagia {
    overflow: hidden;
}

.card-preview {
    max-width: 340px;
    margin: 0 auto;
}

.card-preview-back .front-imagia1 {
    -webkit-animation: fadeOut 0.5s ease-out forwards;
    -moz-animation: fadeOut 0.5s ease-out forwards;
    animation: fadeOut 0.5s ease-out forwards;
}
