#partners a.glas {
  border-radius: 16px !important;
}

.navigation-clean {
  padding: 10px 12px;
  transition: padding .3s ease-in-out;
}

.navigation-clean > .container {
  border-radius: 16px;
  transition: padding .3s ease-in-out, background-color .3s ease-in-out;
}

.navigation-clean.detached {
  padding: 16px 12px 0;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.navigation-clean.detached > .container {
  padding: 8px 20px;
}
